#container {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	margin-bottom: 30px;
}
#container h2 {
	font-size: 30px;
}
#container label {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 10px;
}
#container1 {
	display: flex;
	align-items: center;
	gap: 20px;
}
#container1 label {
	display: flex;
	align-items: center;
	gap: 10px;
}
#container1 input {
	height: 30px;
	padding: 0px 10px;
	border: 1px solid #000;
}
#container1 button {
	padding: 5px 20px;
	background-color: #b3b3b3;
	border: 1px solid #000;
	border-radius: 5px;
}
